# dependencies
/web/node_modules
/api/node_modules
/admin/node_modules

/web/package-lock.json
/webv2/package-lock.json
# /backend/uploads

  # IDE - VSCode
  .vscode/*
  !.vscode/settings.json
  !.vscode/tasks.json
  !.vscode/launch.json
  !.vscode/extensions.json
  .history/*